.navbar {
    background-color: #004080;
    color: white;
}

.navbar .nav-link {
    color: rgb(0, 0, 0);
}

.navbar .nav-link:hover {
    color: #cce5ff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
footer {
    margin-top: 60%;
    background-color: #004080;
    color: white;
    padding: 20px 0;
    text-align: center;
}


